<!DOCTYPE html>
<html ng-app="todooApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="app.js"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400"
        rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
        href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css"
        rel="stylesheet"
        type="text/css"
    />
    <link
        href="external/pretty-checkbox.min.css"
        rel="stylesheet"
        type="text/css"
    />
    <title>
      Todoo - a simple task manager
    </title>
  </head>
  <body ng-controller="taskController">
    <header>
      <div class="header-container">
        <img alt="Todoo logo" class="todo-logo" src="images/app_logo.png"/>
        <div class="user-info">
          Logged in as <b> {{ username }}</b>. <a class="logout-link" href="" ng-click="logout()">Logout</a>
        </div>
      </div>
    </header>
    <main>
      <div class="input-container">
        <form>
          <input
              class="input-field"
              type="text"
              placeholder="Type something and press Enter..."
              ng-model="taskToAdd"
          />
          <input class="btn task-add-btn" ng-click="addTask()" type="submit" value="+"/>
        </form>
        <div class="empty-list-box fade-in" ng-if="tasks && tasks.length == 0">
          <p>Hurray! It seems that there's nothing left to do.</p>
          <img src="images/happy_face.png"/>
        </div>
        <div class="task-list-container">
          <div class="task-line fade-in" ng-repeat="task in tasks track by task.id">
            <div class="line">
              <div class="pretty p-icon p-round">
                <input
                    ng-click="markTask($index)"
                    ng-model="task.completed"
                    type="checkbox"
                />
                <div class="state p-primary-o">
                  <i class="icon mdi mdi-check"></i>
                  <label><span ng-if="!isEdited">{{ task.contents }}</span></label>
                </div>
              </div>
              <input class="task-edit-field" ng-model="task.contents" ng-show="isEdited" type="text"/>
              <input class="task-edit-save-btn btn" ng-click="isEdited=false; updateTask($index)" ng-show="isEdited" type="button" value="Save"/>
              <div class="func-icon">
                <i class="icon mdi mdi-close" ng-click="deleteTask($index)"></i>
              </div>
              <div class="func-icon">
                <i class="icon mdi mdi-view-headline" ng-click="showSubline = !showSubline"
                   ng-show="task.checklist && task.checklist.length !== 0"></i>
              </div>
              <div class="func-icon">
                <i class="icon mdi mdi-circle-edit-outline" ng-click="isEdited = true"></i>
              </div>
            </div>
            <div class="sublist-line fade-in" ng-repeat="checklistItem in task.checklist track by checklistItem.id" ng-show="showSubline">
              <div class="pretty p-default p-round">
                <input
                    ng-click="markChecklistItem($parent.$index, $index)"
                    ng-model="task.checklist[$index].completed"
                    type="checkbox"
                />
                <div class="state p-primary">
                  <label>{{ checklistItem.description }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
