<!DOCTYPE html>
<html lang="en" ng-app="todooApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="scripts/ng-file-upload.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/securityController.js"></script>
    <script src="app/controllers/taskController.js"></script>
    <script src="app/controllers/accountController.js"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400"
            rel="stylesheet"
    />
    <link href="styles/styles.css" rel="stylesheet" type="text/css"/>
    <link
            href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="styles/pretty-checkbox.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <title>
        Todoo - a simple task manager
    </title>
</head>
<header>
    <div class="header-container">
        <img alt="Todoo logo" src="images/app_logo.png"/>
    </div>
</header>
<body ng-controller="securityController">
<div class="login-form-container">
    <form role="form">
        <input class="login-field" ng-model="credentials.username" placeholder="Username" spellcheck="false"
               type="text"/>
        <input class="login-field" ng-model="credentials.password" placeholder="Password" type="password"/>
        <input class="btn submit-btn" ng-click="login()" type="submit" value="Sign in"/>
    </form>
</div>
</body>
</html>
