<div class="basic-container">
  <h1>Account</h1>
  <div class="avatar center"><img src="{{ avatarUrl }}"></div>
  <p>UserName: {{ accountData.userName }}</p>
  <p>Email: {{ accountData.email }}</p>
  <button accept="image/*" class="btn submit-btn" ngf-max-height="1000" ngf-max-size="1MB" ngf-select="uploadFiles($file, $invalidFiles)"
          type="file">Upload photo
  </button>
  <br><br>
  <div>{{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
    <span class="progress" ng-show="f.progress >= 0">
          <div ng-bind="f.progress + '%'" style="width:{{f.progress}}%"></div>
      </span>
  </div>
  {{errorMsg}}
  <a href="#!tasks">Back to tasks</a>
</div>
