<div class="basic-container">
    <h1>Account</h1>
    <div class="avatar-container">
        <input accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" ngf-select="uploadFiles($file, $invalidFiles)"
               src="{{ avatarUrl }}"
               type="image">
        <div class="progress" ng-show="f.progress >= 0 && f.progress < 100">
            <div ng-bind="f.progress + '%'" style="width:{{f.progress}}%"></div>
        </div>
        <div class="error-message">{{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}</div>
        {{errorMsg}}
    </div>
    <div class="account-data-container">
        <p class="user-name">{{ accountData.userName }}</p>
        <p ng-if="!isDataEdited">{{ accountData.email }}</p>
        <input class="user-data-edit-btn btn" ng-click="isDataEdited=!isDataEdited" ng-hide="isDataEdited" type="button"
               value="Edit account data"/>
        <form ng-if="isDataEdited">
            <input class="input-field-mini" ng-model="accountData.email" placeholder="Your new password"
                   spellcheck="false" type="text"/>
            <input class="input-field-mini" ng-model="newPassword" spellcheck="false" type="password"/>
            <input class="user-data-update-btn btn" ng-click="updateAccountData()" type="submit" type="button"
                   value="Update account data"/>
        </form>
    </div>
    <br><br>
    <a href="#!tasks">Back to tasks</a>
</div>
